:root {

}



.menu-btn {
    background-color: #633351;
    border-color: #ddd;
    border-width: 3px;
    color: white;
    margin-bottom: 5px;
    margin-top: 5px;
}

.menu-btn:hover {
    background-color: #7e3960;
    border-color: #c3c3c3;
}